body {
    margin: 0;
    text-align: center;
}

form, input, fieldset {
    display: inline-block;
    vertical-align: middle;
}

input[type=button], input[type=checkbox] {
    cursor: pointer;
}

fieldset {
    border-radius: 5px;
}

#inputForm {
    max-width: 600px;
    width: 90%;
    margin: auto;
    text-align: center;
}
#inputForm #operation-set {
    width: 28%;
    text-align: center;
}
#lhs,#rhs {
    width: 22%;
    height: 2em;
}

#operation-set input {
    width: 80%;
}
#inputForm input {
    margin: 4px;
}

#inputForm label {
    display: none;
}

#output-set {
    display: block;
    width: 33%;
    margin: auto;
}

#viewForm {
    display: block;
}
#viewForm input {
    display: inline-block;
}
#zoom-set input[type=button] {
    width: 3em;
    height: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

#csrCanvas {
    max-height: 600px;
    max-width: 600px;
    width: 80%;
    display: block;
    margin: auto;
    padding: 0;
    cursor: grab;
}

#csrCanvas.active {
    cursor: grabbing;
}