body {
    margin: 0;
    text-align: center;
}

form {
    display: inline-block;
}

#inputForm {
    width: 600px;
    margin: auto;
    text-align: center;
}
fieldset {
    border-radius: 5px;
}
#inputForm #operation-set {
    width: 5em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
#inputForm input {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
}
#inputForm label {
    display: none;
}

#viewForm {
    /* float: right; */
    width: 60px;
    margin-right: 40px;
}
#zoom-set input[type=button] {
    width: 40px;
    height: 40px;
    margin: 10px;
}

#csrCanvas {
    height: 600px;
    max-width: 600px;
    display: block;
    margin: auto;
    padding: 0;
    border: 1px solid black;
    border-radius: 25px;
}